<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout 2 - Hero con Flexbox</title>
    <link rel="stylesheet" href="Layout2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <!-- Section de Hero principal -->
    <section class="hero">
        <!-- Columna izquierda pertenece al texto -->
        <div class="hero-text">
            <h1>Impulsa tu negocio con VPS Premium velocidad, soporte y control total</h1>
            <p>Infraestructura optimizada para escalar tu proyecto sin límites, con asistencia real 24/7</p>
            <button class="hero-button">Empieza Ahora</button>
        </div>

        <!-- Columna derecha pertenece a la  imagen -->
        <div class="hero-image">
            <img src="assets/Herosvg.svg" alt="Imagen " width="600" height="400">
        </div>
    </section>

</body>
</html>
