/* estilos base de layaut 3 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

/* Header con Flexbox */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f0f4f8;
}


/* estilo del nanvar */
.nav-menu {
    display: flex;
    gap: 60px;
}

.nav-menu a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #2a72d4;
}
